# .gitignore

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
/media
/staticfiles

# Virtual Environment
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/

# PyCharm
.idea/

# Environments
.env
.env.*
.venv

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Project
.media