{% extends "core/base.html" %} 
{% block content %} 
{% load static %}

<main class="main">
  <!-- Hero Section -->
  <section id="hero" class="hero section">
    <div class="container">
      <div class="row gy-4">
        <div
          class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
        >
          <h1 data-aos="fade-up">
            We offer modern solutions for growing your business
          </h1>
          <p data-aos="fade-up" data-aos-delay="100">
            We are team of talented designers making websites with Bootstrap
          </p>
          <div
            class="d-flex flex-column flex-md-row"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <a href="#about" class="btn-get-started"
              >Get Started <i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img
            src="{% static 'core/assets/img/hero-img.png' %}"
            class="img-fluid animated"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!-- /Hero Section -->

  <!-- About Section -->
  <section id="about" class="about section">
    <div class="container" data-aos="fade-up">
      <div class="row gx-0">
        <div
          class="col-lg-6 d-flex flex-column justify-content-center"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="content">
            <h3>Who We Are</h3>
            <h2>
              Expedita voluptas omnis cupiditate totam eveniet nobis sint iste.
              Dolores est repellat corrupti reprehenderit.
            </h2>
            <p>
              Quisquam vel ut sint cum eos hic dolores aperiam. Sed deserunt et.
              Inventore et et dolor consequatur itaque ut voluptate sed et.
              Magnam nam ipsum tenetur suscipit voluptatum nam et est corrupti.
            </p>
            <div class="text-center text-lg-start">
              <a
                href="#"
                class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center"
              >
                <span>Read More</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div
          class="col-lg-6 d-flex align-items-center"
          data-aos="zoom-out"
          data-aos-delay="200"
        >
          <img
            src="{% static 'core/assets/img/about.jpg' %}"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!-- /About Section -->

  <!-- Values Section -->
  <section id="values" class="values section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Our Values</h2>
      <p>What we value most<br /></p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="card">
            <img
              src="{% static 'core/assets/img/values-1.png' %}"
              class="img-fluid"
              alt=""
            />
            <h3>Ad cupiditate sed est odio</h3>
            <p>
              Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur
              sit. Et veritatis id.
            </p>
          </div>
        </div>
        <!-- End Card Item -->

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="card">
            <img
              src="{% static 'core/assets/img/values-2.png' %}"
              class="img-fluid"
              alt=""
            />
            <h3>Voluptatem voluptatum alias</h3>
            <p>
              Repudiandae amet nihil natus in distinctio suscipit id. Doloremque
              ducimus ea sit non.
            </p>
          </div>
        </div>
        <!-- End Card Item -->

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card">
            <img
              src="{% static 'core/assets/img/values-3.png' %}"
              class="img-fluid"
              alt=""
            />
            <h3>Fugit cupiditate alias nobis.</h3>
            <p>
              Quam rem vitae est autem molestias explicabo debitis sint. Vero
              aliquid quidem commodi.
            </p>
          </div>
        </div>
        <!-- End Card Item -->
      </div>
    </div>
  </section>
  <!-- /Values Section -->

  <!-- Features Section -->
  <section id="features" class="features section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Features</h2>
      <p>Our Advacedd Features<br /></p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-5">
        <div class="col-xl-6" data-aos="zoom-out" data-aos-delay="100">
          <img
            src="{% static 'core/assets/img/features.png' %}"
            class="img-fluid"
            alt=""
          />
        </div>

        <div class="col-xl-6 d-flex">
          <div class="row align-self-center gy-4">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Eos aspernatur rem</h3>
              </div>
            </div>
            <!-- End Feature Item -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Facilis neque ipsa</h3>
              </div>
            </div>
            <!-- End Feature Item -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Volup amet volupt</h3>
              </div>
            </div>
            <!-- End Feature Item -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Rerum omnis sint</h3>
              </div>
            </div>
            <!-- End Feature Item -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Alias possimus</h3>
              </div>
            </div>
            <!-- End Feature Item -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="700">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Repellendus molli</h3>
              </div>
            </div>
            <!-- End Feature Item -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Features Section -->

  <!-- Alt Features Section -->
  <section id="alt-features" class="alt-features section">
    <div class="container">
      <div class="row gy-5">
        <div
          class="col-xl-7 d-flex order-2 order-xl-1"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="row align-self-center gy-5">
            <div class="col-md-6 icon-box">
              <i class="bi bi-award"></i>
              <div>
                <h4>Corporis voluptates sit</h4>
                <p>
                  Consequuntur sunt aut quasi enim aliquam quae harum pariatur
                  laboris nisi ut aliquip
                </p>
              </div>
            </div>
            <!-- End Feature Item -->

            <div class="col-md-6 icon-box">
              <i class="bi bi-card-checklist"></i>
              <div>
                <h4>Ullamco laboris nisi</h4>
                <p>
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa
                  qui officia deserunt
                </p>
              </div>
            </div>
            <!-- End Feature Item -->

            <div class="col-md-6 icon-box">
              <i class="bi bi-dribbble"></i>
              <div>
                <h4>Labore consequatur</h4>
                <p>
                  Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut
                  maiores omnis facere
                </p>
              </div>
            </div>
            <!-- End Feature Item -->

            <div class="col-md-6 icon-box">
              <i class="bi bi-filter-circle"></i>
              <div>
                <h4>Beatae veritatis</h4>
                <p>
                  Expedita veritatis consequuntur nihil tempore laudantium vitae
                  denat pacta
                </p>
              </div>
            </div>
            <!-- End Feature Item -->

            <div class="col-md-6 icon-box">
              <i class="bi bi-lightning-charge"></i>
              <div>
                <h4>Molestiae dolor</h4>
                <p>
                  Et fuga et deserunt et enim. Dolorem architecto ratione tensa
                  raptor marte
                </p>
              </div>
            </div>
            <!-- End Feature Item -->

            <div class="col-md-6 icon-box">
              <i class="bi bi-patch-check"></i>
              <div>
                <h4>Explicabo consectetur</h4>
                <p>
                  Est autem dicta beatae suscipit. Sint veritatis et sit quasi
                  ab aut inventore
                </p>
              </div>
            </div>
            <!-- End Feature Item -->
          </div>
        </div>

        <div
          class="col-xl-5 d-flex align-items-center order-1 order-xl-2"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <img
            src="{% static 'core/assets/img/alt-features.png' %}"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!-- /Alt Features Section -->

  <!-- Services Section -->
  <section id="services" class="services section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>Check Our Services<br /></p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
        {% for service in services_detail %}
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item item-cyan position-relative">
            <i class="{{service.icon}}"></i>
            <h3>{{service.title}}</h3>
            <p>
              {{service.description|striptags|safe|truncatechars:"150"}}
            </p>
            <a href="{% url 'service-detail' service.id %}" class="read-more stretched-link"
              ><span>Read More</span> <i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
        {% endfor %}
        <!-- End Service Item -->
      </div>
    </div>
  </section>
  <!-- /Services Section -->
  
  <!-- Portfolio Section -->
  <section id="portfolio" class="portfolio section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Portfolio</h2>
      <p>Check our latest work</p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div
        class="isotope-layout"
        data-default-filter="*"
        data-layout="masonry"
        data-sort="original-order"
      >
        <ul
          class="portfolio-filters isotope-filters"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-App">App</li>
          <li data-filter=".filter-Product">Product</li>
          <li data-filter=".filter-Branding">Branding</li>
          <li data-filter=".filter-Books">Books</li>
        </ul>
        <!-- End Portfolio Filters -->

        {% for project in projects %}
        <div
          class="row gy-4 isotope-container"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-{{project.category.all|join:', '}}">
            <div class="portfolio-content h-100">
              <img
                src="{{project.image.url}}"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4>{{project.category.all|join:", "}}</h4>
                <p>{{project.description|striptags|safe|truncatechars:"50"}}</p>
                <a
                  href="{{project.image.url}}"
                  title="{{project.title}}"
                  data-gallery="portfolio-gallery-app"
                  class="glightbox preview-link"
                  ><i class="bi bi-zoom-in"></i
                ></a>
                <a
                  href="{% url 'portfolio-details' project.id %}"
                  title="More Details"
                  class="details-link"
                  ><i class="bi bi-link-45deg"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- End Portfolio Item -->
          {% endfor %}
        </div>
        <!-- End Portfolio Container -->
      </div>
    </div>
  </section>
  <!-- /Portfolio Section -->

  <!-- Testimonials Section -->
  <section id="testimonials" class="testimonials section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Testimonials</h2>
      <p>What they are saying about us<br /></p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
          {
            "loop": true,
            "speed": 600,
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": "auto",
            "pagination": {
              "el": ".swiper-pagination",
              "type": "bullets",
              "clickable": true
            },
            "breakpoints": {
              "320": {
                "slidesPerView": 1,
                "spaceBetween": 40
              },
              "1200": {
                "slidesPerView": 3,
                "spaceBetween": 1
              }
            }
          }
        </script>
        <div class="swiper-wrapper">
          {% for testimonial in testimonials %}
          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                {{testimonial.testimonial}}
              </p>
              <div class="profile mt-auto">
                <img
                  src="{{testimonial.image.url}}"
                  class="testimonial-img"
                  alt=""
                />
                <h3>{{testimonial.name}}</h3>
                <h4>{{testimonial.profession}}</h4>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
        {% if request.user.is_staff %}
        {% include 'testimonials/testimonial_menu.html' %}
        {% endif %}
      </div>
    </div>
  </section>
  <!-- /Testimonials Section -->

  <!-- Team Section -->
  <section id="team" class="team section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Team</h2>
      <p>Our hard working team</p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
        <div
          class="col-lg-3 col-md-6 d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="team-member">
            <div class="member-img">
              <img
                src="{% static 'core/assets/img/team/team-1.jpg' %}"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
              <p>
                Velit aut quia fugit et et. Dolorum ea voluptate vel tempore
                tenetur ipsa quae aut. Ipsum exercitationem iure minima enim
                corporis et voluptate.
              </p>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div
          class="col-lg-3 col-md-6 d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="team-member">
            <div class="member-img">
              <img
                src="{% static 'core/assets/img/team/team-2.jpg' %}"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Product Manager</span>
              <p>
                Quo esse repellendus quia id. Est eum et accusantium pariatur
                fugit nihil minima suscipit corporis. Voluptate sed quas
                reiciendis animi neque sapiente.
              </p>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div
          class="col-lg-3 col-md-6 d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="team-member">
            <div class="member-img">
              <img
                src="{% static 'core/assets/img/team/team-3.jpg' %}"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>CTO</span>
              <p>
                Vero omnis enim consequatur. Voluptas consectetur unde qui
                molestiae deserunt. Voluptates enim aut architecto porro
                aspernatur molestiae modi.
              </p>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div
          class="col-lg-3 col-md-6 d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <div class="team-member">
            <div class="member-img">
              <img
                src="{% static 'core/assets/img/team/team-4.jpg' %}"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
              <p>
                Rerum voluptate non adipisci animi distinctio et deserunt amet
                voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.
              </p>
            </div>
          </div>
        </div>
        <!-- End Team Member -->
      </div>
    </div>
  </section>
  <!-- /Team Section -->

  <!-- Clients Section -->
  <section id="clients" class="clients section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Clients</h2>
      <p>We work with best clients<br /></p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
          {
            "loop": true,
            "speed": 600,
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": "auto",
            "pagination": {
              "el": ".swiper-pagination",
              "type": "bullets",
              "clickable": true
            },
            "breakpoints": {
              "320": {
                "slidesPerView": 2,
                "spaceBetween": 40
              },
              "480": {
                "slidesPerView": 3,
                "spaceBetween": 60
              },
              "640": {
                "slidesPerView": 4,
                "spaceBetween": 80
              },
              "992": {
                "slidesPerView": 6,
                "spaceBetween": 120
              }
            }
          }
        </script>
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide">
            <img
              src="{% static 'core/assets/img/clients/client-1.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static 'core/assets/img/clients/client-2.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static 'core/assets/img/clients/client-3.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static 'core/assets/img/clients/client-4.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static 'core/assets/img/clients/client-5.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static 'core/assets/img/clients/client-6.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static 'core/assets/img/clients/client-7.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static 'core/assets/img/clients/client-8.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- /Clients Section -->
  <!-- Contact Section -->
  <section id="contact" class="contact section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Contact Us</p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-lg-6">
          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="200">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>A108 Adam Street</p>
                <p>New York, NY 535022</p>
              </div>
            </div>
            <!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="300">
                <i class="bi bi-telephone"></i>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55</p>
                <p>+1 6678 254445 41</p>
              </div>
            </div>
            <!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="400">
                <i class="bi bi-envelope"></i>
                <h3>Email Us</h3>
                <p>info@example.com</p>
                <p>contact@example.com</p>
              </div>
            </div>
            <!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="500">
                <i class="bi bi-clock"></i>
                <h3>Open Hours</h3>
                <p>Monday - Friday</p>
                <p>9:00AM - 05:00PM</p>
              </div>
            </div>
            <!-- End Info Item -->
          </div>
        </div>

        <div class="col-lg-6">
          {% if request.user.is_authenticated %} 
          {% load contact_form %} {% contact_form %} 
          {% else %}
          <section id="services" class="services section">
            <div class="container">
              <div class="row gy-4">
                <div
                  class="col-lg-8 col-md-8"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                  <div class="service-item item-cyan position-relative">
                    <i class="bi bi-emoji-frown icon"></i>
                    <h3>Inicia sesión</h3>
                    <p>
                      Para enviar mensajes, necesitas entrar con tu cuenta
                    </p>
                    <a
                      href="{% url 'login' %}"
                      class="read-more stretched-link"
                      ><span></span></a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End Service Item -->
          {% endif %}
        </div>
        <!-- End Contact Form -->
      </div>
    </div>
  </section>
  <!-- /Contact Section -->
</main>

{% endblock content %}
